# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env
.env

# Spring Boot
application-local.yml
application-local.properties
